Body{
    border:1px red solid;
    margin:10px auto;
    width:800px;
    padding: 0 10px;
}
h1{
    color:red;
    font-size:20px;
    background-color:aqua;
    border:1px,solid,red;
    padding:10px;
    text-align:center;
}
h2{
    /* color:green; */
    color:#ff0013;
}
h3{
    /* border-color: peru;
    border-style: solid;
    border-width: 6px */
    border:6px solid red;
}
span{
    background-color:blueviolet
    color rgb(43, 23, 43); 
}
blockquote{
        border:3px purple ;
}